**/node_modules
**/.next
**/*.js.map
**/*.js
**/*.jsx
**/*.jsx.map
**/coverage
**/jest
**/jest_0
**/yarn-error.log
**/.awcache
/frontend/.storybook/static
**/npm-debug.log
**/.jest-cache
**/.scannerwork


**/_ui/

**/*.class
v8-compile-cache-0

/README
.DS_Store
/.svn

/doc
